.col-sm-4, .col-sm-8{
    border-bottom: solid 1px grey;
    
}

.gif-btn    {
    margin: 5px;
}

#gif-input, #gif-add  {
    margin: 5px;
}

#gif-add {
    background-color: rgb(73, 71, 71);
    color: white;
}

#gif-add:hover {
    background-color: rgb(41, 40, 40);
    color: white;
}
#header {
    background-color: rgb(10, 10, 10, .80);
    color: white;
}
body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment:fixed;
}

#main   {
    background-color: rgb(10, 10, 10, .75);
    color: white;
}